.HeaderNav {
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  width: 60vw;
  align-items: center;

  p {
    font-weight: bold;
    color: white;
    line-height: 1;
    margin: 0;
  }

  p:hover {
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .HeaderNav {
    margin-left: 30%;
    width: 65vw;
  }
}

@media (max-width: 550px) {
  .HeaderNav {
    margin-left: 0;
    width: 65vw;
  }
}
